/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.my-custom-class {
  --background: whiteSmoke;
  font-size: large;

  text-decoration-color: white;
  color: black;
}

.my-custom-classGanador {
  --background: black;
  font-size: large;

  text-decoration-color: white;
  color: black;
}

.my-custom-class-alert {
  --background: black;
  font-size: large;

  text-decoration-color: white;
  color: red;
}

.alertCancel {
  --background: red;
}
.alertButton {
  background: FF0090;
  color: white;
  font-style: oblique;
  font-weight: bold;
}

.action-sheet-title {
  background: black;
  color: white !important;
  font-size: 20px !important;
  align-content: center !important;
  font-weight: bold;
}

.alert-message {
  font-weight: lighter;
  color: #55cbcd !important;
}

.alert-button {
  background-color: black !important;
  color: white !important;
}

.alert-title {
  background-color: black;
  color: white !important;
}

.my-ion-list {
  padding-top: 20px;
  max-height: 350px !important;
  overflow-y: scroll;
}

.iconInside {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 50%;
}

.mr-blur {
  height: 100vh; //full viewport height
  width: 100vw; //full viewport width
  background-color: white; //color of the overlay
  opacity: 0.6; //to show a little bit of the iactive screen
  z-index: 9999 !important; //To put it on top of all elements
}

.text-custom {
  font-size: 45px;
  color: #2fcd83;
  padding-left: 24%;
  letter-spacing: 8px;
}
.text-custom-dash {
  font-size: 18px;
  color: #2fcd83;
  letter-spacing: 6px;
}

.text-custom_dash1 {
  font-size: 38px;
  color: white;
  padding-left: 24%;
  letter-spacing: 8px;
}
.my-custom-class_alert {
  --background: black;
  font-size: large;

  text-decoration-color: white;
  color: white;
}

.text-customJuego {
  font-size: 45px;
  color: #2fcd83;
}

.text-customTitle2 {
  font-size: 23px;
  color: white;
}

.text-customCS {
  color: white;
  padding-left: 29%;
  letter-spacing: 15px;
}

text-customA {
  --color: red;
}

.label {
  background-color: reba(255, 255, 255, 0);
  border-color: white;
}
.labelItem {
  --background: reba(255, 255, 255, 0);
}
.a {
  color: red;
}

.labelItemIcon {
  --background: reba(255, 255, 255, 0);
  --border-width: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  --padding: 0px;
  --padding-inline-end: 0px;
  --margin: 0px;
  --inner-border-width: 0px;
  --inner-box-shadow: 0px;
  --inner-padding-bottom: 0px;
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
  --inner-padding-top: 0px;
  --padding-bottom: 0px;
  --padding-top: 0px;
}

.in_list {
  max-height: 100%;
  -background: reba(255, 255, 255, 0);
  --border-width: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  --padding: 0px;
  --padding-inline-end: 0px;
  --margin: 0px;
  --inner-border-width: 0px;
  --inner-box-shadow: 0px;
  --inner-padding-bottom: 0px;
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
  --inner-padding-top: 0px;
  --padding-bottom: 0px;
  --padding-top: 0px;
}

.cal-modal {
  --height: 80%;
  --border-radius: 10px;
  padding: 25px;
}

@font-face {
  font-family: "custom";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/SIXTY.TTF");
}

ion-content {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px;
  letter-spacing: 0.05em;
}

ion-title {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.label-floating.sc-ion-label-md-h {
  font-family: Arial, Helvetica, sans-serif !important;
  color: black;
  letter-spacing: 0.05em;
}

ion-label {
  font-family: Arial, Helvetica, sans-serif !important;
  color: black;
  letter-spacing: 0.05em;
}

p {
  font-family: Arial, Helvetica, sans-serif !important;
  color: black;
  letter-spacing: 0.05em;
}

.item .sc-ion-label-md-h {
  font-family: Arial, Helvetica, sans-serif !important;
  color: black;
  letter-spacing: 0.05em;
}

ion-input {
  text-transform: uppercase;
}

.modal-fullscreen {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}
